body {
    background-color: rgba(50, 80, 84);
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: max-content;
    font-size: 100%;
}
  
  p {
    font-size: 0.85em;
  }

.main-body {
    background-color: rgb(224, 224, 224);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.header {
    grid-area: 1 / 1 / 2 / 6;
    background-color: beige;
    margin: 5px;
    height: 150px;
}

.header>div {
    margin: 5px;
   
}

.left-side {
    grid-area: 2 / 1 / 6 / 2;
    margin: 5px;
    background-color: rgb(153, 178, 181);
}

.left-side>div {
    margin-left: 5px;
}

.right-side {
    grid-area: 2 / 2 / 6 / 6;
    margin: 5px;
    background-color: rgb(178, 190, 192);
}

.right-side>div {
    margin-left: 5px;
}
/*
.photo {
    grid-area: 1 / 1 / 2 / 2;
    background-color: rgb(75, 92, 94);
    margin: 5px;
    height: 150px;
    align-items: center;
    align-content: center;
}
*/
/*.photo>img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*/
.list{
    margin-left: 5px;
    margin-right: 5px;
    padding:0.15em 0 0.5em 1.5em;
    margin-bottom:0.2em;
    text-indent:0.4em;
    list-style:none;
    background-repeat:no-repeat;
    background-size: 20px;
    font-size: 0.85em;
  }
.list[data-type="github"] {
    background-image:url(img/github_733609.png);
}

.list[data-type="credly"] {
    background-image:url(img/achievement_7263540.png);
}

.list[data-type="linkedin"] {
    background-image:url(img/linkedin_1384014.png);
}

.list[data-type="email"] {
    background-image:url(img/email_3178158.png);
}

.list[data-type="adress"] {
    background-image:url(img/gps_5616461.png);
}

.certifications {
    flex: content;
}

.certifications img {
    width: 100px;
}