body {
    background-color: rgb(211, 224, 226);
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.main-body {
    background-color: rgb(156, 164, 165);
}

iframe[id*="badge-name"] {
    visibility: hidden
}

iframe[id*="badge-issuer"] {
    visibility: hidden
}

iframe[id*="provided"] {
    visibility: hidden
}
