.terraform/
scratch.tf
resumelambda.zip
streams_lambda.zip
sam-app/.aws-sam/
streams-app/.aws-sam/
sam-resume/
backup
venv
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
resume
secrets.tf
.env
load_dotenv.sh
scratch.json
.aws-sam/
websockets_lambda.zip
websockets_lambda_response.zip
__pycache__
.pytest_cache