.terraform/
scratch.tf
resumelambda.zip
streams_lambda.zip
sam-app/.aws-sam/
streams-app/.aws-sam/
backup
venv
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
resume
secrets.tf
.env
load_dotenv.sh
scratch.json